.App {
  text-align: center;
}

.header{
  background-color: blanchedalmond;
  padding: 0.5em;
  font-style: italic;
  font-family: serif, georgia;
  font-size: x-large
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  font-weight: 800;
}

.movieDescription {
  display: inline-block;
  width: 70%;
  margin-top: 1em;
}

.movieGenre {
  padding-bottom: 1em;
  font-style: italic;
}

img {
  border: 6px solid #8a8a8a;
  margin: 10px
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  margin-top: 3em;
}

/* add a back to movie list button */